<!doctype html>
<html lang="en">

<head>
  <title>Fiestas</title>
  <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./salud.html">Salud</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./galeria.html">Galería</a>
            </li>

            <li class="nav-item">
              <img src="../img/walking.png" class="tamaño" alt="Dibujo de un gato">
            </li>

          </ul>

        </div>
      </div>
    </nav>
  </header>
  <main class="bg-navidad">
    <article class="nota container-fluid">
      <h3 class="titular">¡No regales una mascota!</h3>
      <p class="parrafo">Nuestros amiguitos son bonitos y rechonchitos. Pero nunca los regales. No siempre se van a ver
        tiernos y
        requieren cuidados.
        Debés tener en cuenta que requieren cariño y mucha atención. Un niño se puede aburrir de una mascota y no sabrá
        cuidarla si no se le enseña. Nosotros somos los guardianes de estos animalitos, no sus dueños, por lo que
        debemos evitar tratarlos como objetos. </p>
      </article>

    <div class="container-fluid d-flex justify-content-center">
      <img src="../img/Navidad.webp" class="rounded img-fluid" alt="Perro negro con gorro de navidad">
    </div>

    <article class="nota container-fluid">
      <h3 class="titular">¿Qué hacer contra a los fuegos artificiales?</h3>
      <p class="parrafo">Nuestras mascotas perciben la pirotecnia de manera diferente a nosotros. Los animalitos oyen
        explosiones muy
        fuertes y sienten el retumbar en las paredes y el suelo.
        Ante lo desconocido, se activa su sistema de alarma y huida. Es así que escapan, tiemblan, se esconden... Es
        normal toparnos con carteles de "Mascota Perdida" tras las fiestas, y esta es una de las principales razones
        para ello.
        Nosotros podemos dejar de utilizar fuegos artificales, petardos, bombas y demás. Pero, ¿qué hacemos cuando están
        fuera de nuestro alcance?
      </p>

      <!--Listado-->
      <ul>
        Aquí hay algunas formas de cuidar a nuestras mascotas durante la temporada navideña:
        <br></br>
        <li>Crea un refugio seguro: Designa un lugar tranquilo y acogedor en tu casa donde tu mascota pueda refugiarse.
          Puede ser una habitación con sus juguetes, mantas y su cama para que se sienta cómoda.</li>
        <li>Mantén a tu mascota adentro: Durante los eventos con fuegos artificiales, asegúrate de que tus mascotas
          estén dentro de casa. Esto ayuda a reducir la exposición al ruido y evita que se escapen si se asustan.</li>
        <li>Distrae con ruido blanco: Usa música suave o ruido blanco para distraer a tu mascota del estruendo de los
          fuegos artificiales. Esto puede ayudar a enmascarar el sonido y hacerlos sentir más seguros.</li>
        <li>Suplementos calmantes: Considera opciones como difusores de feromonas, suplementos naturales o incluso
          consultas con tu veterinario para discutir opciones de medicación leve que puedan calmar a tu mascota./li>
        <li>Mantén la calma: Los animales pueden detectar el estrés en sus dueños, así que trata de mantener la calma y
          brindarles apoyo. Si actúas con normalidad, podrían sentirse más seguros.</li>
        <li>Identificación: Asegúrate de que tu mascota tenga un collar con una identificación actualizada y microchip
          en caso de que se asuste y escape.</li>
        <li>No los dejes solos: Si es posible, evita dejar a tu mascota sola durante eventos con fuegos artificiales. Tu
          presencia puede ser reconfortante para ellos.</li>
        <li>Consulta con un profesional: Si tu mascota tiene un historial de ansiedad severa, considera hablar con un
          veterinario o un especialista en comportamiento animal para obtener consejos personalizados.</li>
        <br>
        Al seguir estos consejos, podremos ayudar a que nuestras mascotas se sientan más seguras y protegidas durante la
        temporada de fuegos artificiales en Navidad
      </ul>
    </article>
    
    <!--Video de cachorritos-->
    
    <div class="m-1 d-flex justify-content-center"><h3>Por leer toda la información, te mereces este regalo anticipado:</h3></div>

    <div class="mb-5 d-flex justify-content-center">          
      <iframe width="560" height="315" src="https://www.youtube.com/embed/8rSH8-pbHZ0?si=pxLnbsFxRICPhSUz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>



  </main>
  <footer>
    <ul class="nav justify-content-center foot fixed-bottom">
      <li class="nav-item">
        <a class="nav-link active text-reset text-decoration-none" href="../../index.html">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-reset text-decoration-none" aria-current="page" href="./contacto.html">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-reset text-decoration-none" href="./galeria.html">Galería</a>
      </li>
    </ul>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>

</html>