<!doctype html>
<html lang="en">

<head>
    <title>Galería</title>
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./salud.html">Salud</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./galeria.html">Galería</a>
                        </li>
      
                        <li class="nav-item">
                            <img src="../img/walking.png" class="tamaño" alt="Dibujo de un gato">
                        </li>
      
                    </ul>
                   
                </div>
            </div>
        </nav>
    </header>
    <main id="galeria">
        <!--Carrousel-->
        <div id="carouselExampleIndicators" class="carousel slide mb-4">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
                    aria-label="Slide 0"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../img/entrenamiento.jpg" class="d-block w-100" alt="Foto de adiestramiento canino">
                </div>
                <div class="carousel-item">
                    <img src="../img/Navidad.webp" class="d-block w-100" alt="Foto de perrito con gorro navideño">
                </div>
                <div class="carousel-item">
                    <img src="../img/NewHome.jpg" class="d-block w-100" alt="Foto de gatito observando su nueva casa">
                </div>
                <div class="carousel-item">
                    <img src="../img/WhiteBrown.jpg" class="d-block w-100" alt="Foto de cachorro">
                </div>
                <div class="carousel-item">
                    <img src="../img/callejeros.jpg" class="d-block w-100" alt="Perros callejeros">
                </div>
                <div class="carousel-item">
                    <img src="../img/CatDog.webp" class="d-block w-100" alt="Foto de un perro y un gato muy juntos">
                </div>
                <div class="carousel-item">
                    <img src="../img/Black.jpeg" class="d-block w-100" alt="Perro color negro">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </main>
    <footer>
        <ul class="nav justify-content-center foot fixed-bottom">
            <li class="nav-item">
                <a class="nav-link active text-reset text-decoration-none" href="../../index.html">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-reset text-decoration-none" aria-current="page"
                    href="./contacto.html">Contacto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-reset text-decoration-none" href="./galeria.html">Galería</a>
            </li>
        </ul>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>