<!doctype html>
<html lang="en">

<head>
  <title>Adopción</title>
  <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./salud.html">Salud</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./galeria.html">Galería</a>
            </li>

            <li class="nav-item">
              <img src="../img/walking.png" class="tamaño" alt="Dibujo de un gato">
            </li>

          </ul>

        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="d-flex justify-content-center">
      <h2 class="compra">No compres, adoptá</h2>
    </div>
    <div class="m-4 mb-5">
      <h5>Adoptar una mascota es una decisión importante y maravillosa.</h5>
      <div>
        <p>Tener una mascota es un compromiso a largo plazo. Asegúrate de estar listo para dedicar tiempo, amor,
          atención y recursos para el cuidado de la mascota durante toda su vida.
          Investiga y elige conscientemente: Antes de adoptar, investiga sobre las necesidades de la especie y la raza
          que estás considerando. Asegúrate de que el tipo de mascota sea compatible con tu estilo de vida, espacio y
          capacidades para cuidarla.</p>
        <div class="d-flex justify-content-center"><img src="../img/callejeros.jpg" class="rounded img-fluid"
            alt="perros callejeros"></div>
      </div>
      <h5>¡Considera la adopción! Los refugios y organizaciones de rescate tienen una variedad de perros y gatos que
        buscan hogar. Adoptar puede salvar una vida y brindarle una oportunidad a una mascota necesitada.</h5>
      <div class="row mt-5">
        <div class="col align-self-center">
          <p>Haz una introducción gradual: Cuando lleves a casa a tu nueva mascota, permítele ajustarse gradualmente a
            su entorno. Dale tiempo para explorar, establecer una rutina y crear lazos contigo y otros miembros de la
            familia.</p>
          <h5 class="my-4">Lleva a tu nueva mascota al veterinario para un chequeo inicial y para establecer un plan de
            vacunación y desparasitación adecuado.</h5>
          <p>Proporciona amor y cuidado: Las mascotas adoptadas pueden haber tenido experiencias difíciles. Proporciona
            mucho amor, atención y cuidado para ayudarlas a sentirse seguras y amadas.</p>
          <p>Registro y microchip: Asegúrate de que tu mascota tenga un collar con una identificación actualizada y, de
            ser posible, un microchip para facilitar su ubicación en caso de pérdida.</p>

          <p>Comunidad de apoyo: Únete a grupos de redes sociales o comunidades locales de dueños de mascotas para
            obtener consejos, apoyo y recursos útiles.</p>
        </div>
        <div class="col align-self-center"><img src="../img/NewHome.jpg" class="gatito img-fluid rounded float-end"
            alt="Gato observando su nuevo hogar">
        </div>
      </div>
      <div class="row mt-3">
        <div class="entrenando col align-self-center"><img src="../img/entrenamiento.jpg" class="img-fluid rounded"
            alt="perro siendo entrenado"></div>

        <div class="col align-self-center">
          <h5>Educación y entrenamiento: Brinda una educación adecuada y paciencia para ayudar a tu mascota a adaptarse
            a su nuevo hogar. El entrenamiento en positivo es clave para establecer reglas y rutinas.</h5>
          <h5>Adoptar una mascota es una experiencia gratificante. ¡Recuerda que estás trayendo a un nuevo miembro a tu
            familia y tu amor y cuidado marcarán la diferencia en su vida!</h5>
        </div>


      </div>

    </div>

  </main>
  <footer>
    <ul class="nav justify-content-center foot fixed-bottom">
      <li class="nav-item">
        <a class="nav-link active text-reset text-decoration-none" href="../../index.html">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-reset text-decoration-none" aria-current="page" href="./contacto.html">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-reset text-decoration-none" href="./galeria.html">Galería</a>
      </li>
    </ul>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>

</html>