<!doctype html>
<html lang="en">

<head>
    <title>Salud</title>
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./salud.html">Salud</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./galeria.html">Galería</a>
                        </li>
      
                        <li class="nav-item">
                            <img src="../img/walking.png" class="tamaño" alt="Dibujo de un gato">
                        </li>
      
                    </ul>
                   
                </div>
            </div>
        </nav>
    </header>
    <main>
        <article class="vacunacion mb-5">
            <h3 class="vacuna">Vacunación en perros</h3>
            <p>En Argentina, el plan de vacunación para cachorros de perro generalmente sigue un calendario establecido
                por los veterinarios. Aquí hay algunas recomendaciones generales:</p>
                <!--Listado 1-->
            <ul>
                <li>Vacunación básica: Los cachorros generalmente reciben una serie de vacunas para protegerlos contra
                    enfermedades comunes. Esto incluye vacunas contra el moquillo, parvovirus, hepatitis canina y la
                    leptospirosis.</li>
                <li>Calendario de vacunación: El calendario de vacunación típico comienza cuando el cachorro tiene entre
                    6 y 8 semanas de edad y se administran refuerzos cada 3-4 semanas hasta los 16-20 semanas.</li>
                <li>Vacuna antirrábica: En Argentina, la vacuna antirrábica es obligatoria y se administra a partir de
                    los 3 meses de edad. Es esencial para la salud de tu cachorro y puede ser obligatoria para trámites
                    como viajar o inscribirlo en programas de entrenamiento.</li>
                <li>Desparasitación: Además de las vacunas, es importante desparasitar regularmente a tu cachorro contra
                    gusanos internos y externos.</li>
                <li>Consultas veterinarias regulares: Realiza visitas periódicas al veterinario para chequeos generales
                    y seguir el plan de vacunación recomendado.</li>
                <li>Alimentación adecuada: Proporciona una dieta balanceada y específica para cachorros que contenga los
                    nutrientes necesarios para su crecimiento y desarrollo.</li>
                <li>Ejercicio y socialización: Brinda suficiente ejercicio y tiempo para socializar con otros perros y
                    personas para ayudar en su desarrollo social y emocional.</li>
                <li>Cuidados especiales: Los cachorros son más susceptibles a enfermedades y lesiones, así que mantén un
                    ojo atento a cualquier cambio en su comportamiento, apetito o salud en general.</li>
            </ul>
            <p>Recuerda que estos son consejos generales y es importante consultar con un veterinario para recibir
                orientación específica sobre la salud y las necesidades individuales de tu cachorro.</p>
                <div class="clinica "><img src="../img/animals-clinic.jpg" class="img-fluid" alt="dibujo de un veterinario y un perro"></div>
            <h3 class="vacuna">¿Y en gatos?</h3>
            <p>Las recomendaciones de vacunación y cuidado veterinario son bastante similares tanto para perros como
                para gatos en términos generales, pero hay algunas diferencias en las vacunas específicas y en algunos
                aspectos de la atención.</p>
            <p>En cuanto a la vacunación para gatos, algunas de las vacunas más comunes incluyen:</p>
            <!--Listado 2-->
            <ul>
                <li>Triple felina: Protege contra el herpesvirus felino, calicivirus y la panleucopenia felina. Por lo
                    general, se comienza a administrar a los gatitos a partir de las 8 semanas de edad, con refuerzos
                    cada 3-4 semanas hasta completar una serie.</li>
                <li>Leucemia felina: Es una vacuna opcional pero recomendada, especialmente para gatos que pueden tener
                    acceso al exterior o convivir con otros gatos.</li>
                <li>Rabia: Al igual que en los perros, la vacuna antirrábica es obligatoria en muchos lugares y se
                    administra a partir de los 3-4 meses de edad.</li>
                <li>Desparasitación: La desparasitación también es fundamental en gatos, tanto para gusanos internos
                    como externos.</li>
            </ul>

            <p>Al igual que con los cachorros, se recomienda llevar a los gatitos a visitas regulares al veterinario
                para chequeos de salud, vacunas y consejos específicos sobre cuidados y alimentación.

                La socialización, el ejercicio y una dieta adecuada también son importantes para los gatos jóvenes.
                Proporcionarles juguetes y actividades que estimulen su mente y sus instintos naturales es esencial para
                su bienestar general.

                A pesar de las similitudes, es crucial consultar con un veterinario para obtener orientación específica
                sobre las necesidades de vacunación y cuidados de tu gato en particular.</p>


            
            <!--Enlaces Externos-->
            <h3>Estos enlaces podrían ser de tu interés:</h3>
            <a href="https://www.argentina.gob.ar/senasa/consideraciones-generales-y-legislacion">Vacunación antirrábica de perros y gatos: Normativa</a>
            <br>
            <a href="https://www.expertoanimal.com/vacuna-quintuple-para-perros-para-que-sirve-que-contiene-y-reacciones-24374.html">Vacuna quíntuple en perros</a>
            <br>
            <a href="https://es.wikipedia.org/wiki/Virus_de_la_leucemia_felina">Virus de la leucemia felina</a>
             
        </article>

    </main>
    <footer>
        <ul class="nav justify-content-center foot fixed-bottom">
            <li class="nav-item">
                <a class="nav-link active text-reset text-decoration-none" href="../../index.html">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-reset text-decoration-none" aria-current="page"
                    href="./contacto.html">Contacto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-reset text-decoration-none" href="./galeria.html">Galería</a>
            </li>
        </ul>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>